/* DEFAULT Variables */
:root {
  /* Default theme */
  --accent: #61b0f1;          /* Hover color */
  --bg: #f5f5f5;              /* Background color */
  --sbg: #e4e6e6;             /* Cards color */
  --fg: #3a3a3a;              /* Foreground color */
  --sfg: #8a8a8a;             /* Sceondary Foreground color */

  /* Alt theme */
  --alt_accent: #61b0f1;      /* Hover color */
  --alt_bg: #19171a;          /* Background color */
  --alt_sbg: #201e21;         /* Cards color */
  --alt_fg: #d8dee9;          /* Foreground color */
  --alt_sfg: #3a3a3a;         /* Secondary Foreground color */

  --font_family: "Arial";
  --font_size: 25px;
  --animation_speed: 0.3s;
  --icon_size: 3vh;
  --navbar_height: 50px;
}

.darktheme {
  --accent: var(--alt_accent);  /* Hover color */
  --bg: var(--alt_bg);          /* Background color */
  --sbg: var(--alt_sbg);        /* Cards color */
  --fg: var(--alt_fg);          /* Foreground color */
  --sfg: var(--alt_sfg);        /* Secondary Foreground color */
}

html,
body {
  transition: var(--animation_speed) ease-in-out;
  background-color: var(--sbg);
  margin: 0;
  font-family: var(--font_family);
  padding: 0;
  height: 100%;
  overflow: hidden;
  position: relative;
}

:focus {
  outline: 0;
}

/* Icons */
.icon {
  display: inline-flex;
  width: var(--icon_size);
  right: var(--icon_size);
  color: inherit;
  margin: 3px 0.5vh 0px 1vh;
  float: left;
}

/* Save function */
#open-dilg {
  position: fixed;
  opacity: 0;
  z-index: -100;
}

/* Topnav */
.topnav {
  transition: var(--animation_speed) ease-in-out;
  overflow: hidden;
  background-color: var(--bg);
  border-bottom: 1px solid var(--fg);
}

/* Button config */
.button {
  transition: var(--animation_speed) ease-in-out;
  background-color: var(--bg);
  color: var(--fg);
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  font-family: var(--font_family);
  font-size: var(--font_size);
  padding: calc(calc(var(--navbar_height) - var(--font_size))/2) 16px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  color: var(--accent);
  background-color: var(--sbg);
  cursor: pointer;
}

.topnav a {
  float: left;
  display: block;
}

/* Topnav Right */
.topnav-right {
  float: right;
}

.topnav-right button {
  border-left: 1px dashed var(--sfg);
}

/* Topnav Left */
.topnav-left {
  float: left;
}

.topnav-left [class*="button"] {
  border-right: 1px dashed var(--sfg);
}

.topnav-left input {
  transition: var(--animation_speed) ease-in-out;
  border: none;
  background-color: var(--bg);
  color: var(--fg);
  text-align: left;
  padding: calc(calc(var(--navbar_height) - var(--font_size))/2) 16px;
  border-right: 1px dashed var(--sfg);
  font-size: var(--font_size);
  font-family: var(--font_family);
}

/* Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
}

.dropdown:hover .dropdown-content {
  animation-duration: 0.2s;
  animation-name: example;
  display: block;
}

@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}

.dropdown-content a {
  float: none;
}

/* Text box */
#edit_box {
  transition: var(--animation_speed) ease-in-out;
  background-color: var(--sbg);
  color: var(--fg);
  width: 100%;
  height: calc(95% - var(--navbar_height));
  margin: 0;
  padding: 10px 15vw;
  overflow: auto;
  white-space: pre-wrap;
  border: none;
  resize: none;
  font-family: var(--font_family);
  font-size: var(--font_size);
  box-sizing: border-box;
}
