/* Variables */
:root {
  --navbar_height: 12px;
  --font_family: "Arial";
  --font_size: 25px;
}

html,
body {
  margin: 0;
  font-family: var(--font_family);
  padding: 0;
  height: 100%;
  overflow: hidden;
  position: relative;
}

:focus {
  outline: 0;
}

/* Save function */
#open-dilg {
  position: fixed;
  opacity: 0;
  z-index: -100;
}

/* Topnav */
.topnav {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #b2b2b7;
}

/* Button config */
:root [id*=btn] {
  background-color: #e5e5e5;
  color: black;
  border: none;
  outline: none;
  font-family: var(--font_family);
  font-size: var(--font_size);
  padding: var(--navbar_height) 16px; 
  text-align: center;
  text-decoration: none;
}

:root [id*=btn]:hover {
  background-color: #ddd;
  cursor: pointer;
}

.topnav a {
  float: left;
  display: block;
}

/* Topnav Right */
.topnav-right {
  float: right;
}

.topnav-right [class*=btn] {
  border-left: 1px dashed #b2b2b7;
}

/* Topnav Left */
.topnav-left{
  float: left;
}

.topnav-left [id*=btn], input {
  border-right: 1px dashed #b2b2b7;
}

.topnav-left input {
  border: none;
  color: #000000;
  text-align: left;
  padding: var(--navbar_height) 16px;
  border-right: 1px dashed #b2b2b7;
  font-size: var(--font_size);
  font-family: var(--font_family);
}

/* Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  float: none;
}


/* Text box */
#edit-box {
  width: 100%;
  height: calc(95% - var(--navbar_height));
  margin: 0;
  padding: 10px 25vw;
  overflow: auto;
  white-space: pre-wrap;
  border: none;
  resize: none;
  font-family: var(--font_family);
  font-size: var(--font_size);
  box-sizing: border-box;
}
